<template>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Добавить лид</h1>
      </div>

      <div class="column is-12">
        <form @submit.prevent="submitForm">
          <div class="field">
            <label>Название</label>
            <div class="control">
              <input type="text" class="input" v-model="company" />
            </div>
          </div>

          <div class="field">
            <label>Контактное лицо</label>
            <div class="control">
              <input type="text" class="input" v-model="contact_person" />
            </div>
          </div>

          <div class="field">
            <label>Email</label>
            <div class="control">
              <input type="email" class="input" v-model="email" />
            </div>
          </div>

          <div class="field">
            <label>Телефон</label>
            <div class="control">
              <input type="text" class="input" v-model="phone" />
            </div>
          </div>

          <div class="field">
            <label>Сайт</label>
            <div class="control">
              <input type="text" class="input" v-model="website" />
            </div>
          </div>

          <div class="field">
            <label>-</label>
            <div class="control">
              <input type="number" class="input" v-model="confidence" />
            </div>
          </div>

          <div class="field">
            <label>-</label>
            <div class="control">
              <input type="number" class="input" v-model="estimated_value" />
            </div>
          </div>

          <div class="field">
            <label>Статус</label>
            <div class="control">
              <div class="select">
                <select v-model="status">
                  <option value="new">Новый</option>
                  <option value="contacted">Связались</option>
                  <option value="inprogress">В процессе</option>
                  <option value="lost">Пропал</option>
                  <option value="won">Завершен</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label>Приоритет</label>
            <div class="control">
              <div class="select">
                <select v-model="priority">
                  <option value="low">Низкий</option>
                  <option value="medium">Средний</option>
                  <option value="high">Высокий</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-success">Добавить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import { toast } from "bulma-toast";

export default {
  name: "AddLead",
  data() {
    return {
      company: "",
      contact_person: "",
      email: "",
      phone: "",
      estimated_value: 0,
      confidence: 0,
      website: "",
      status: "new",
      priority: "medium",
    };
  },
  methods: {
    async submitForm() {
      this.$store.commit("setIsLoading", true);

      const lead = {
        company: this.company,
        contact_person: this.contact_person,
        email: this.email,
        phone: this.phone,
        website: this.website,
        estimated_value: this.estimated_value,
        confidence: this.confidence,
        status: this.status,
        priority: this.priority,
      };

      await axios
        .post("/api/v1/leads/", lead)
        .then((response) => {
          toast({
            message: "Лид был добавлен",
            type: "is-success",
            dismissible: true,
            pauseOnHover: true,
            duration: 2000,
            position: "bottom-right",
          });

          this.$router.push("/dashboard/leads");
        })
        .catch((error) => {
          console.log(error);
        });

      this.$store.commit("setIsLoading", false);
    },
  },
};
</script>
