<template>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Добавить участников</h1>
      </div>

      <div class="column is-12">
        <form @submit.prevent="submitForm">
          <div class="field">
            <label>Email</label>
            <div class="control">
              <input
                type="email"
                name="email"
                class="input"
                v-model="username"
              />
            </div>
          </div>

          <div class="field">
            <label>Пароль</label>
            <div class="control">
              <input
                type="password"
                name="password1"
                class="input"
                v-model="password1"
              />
            </div>
          </div>

          <div class="field">
            <label>Повторите пароль</label>
            <div class="control">
              <input
                type="password"
                name="password2"
                class="input"
                v-model="password2"
              />
            </div>
          </div>

          <div class="notification is-danger" v-if="errors.length">
            <p v-for="error in errors" v-bind:key="error">{{ error }}</p>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-success">Добавить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import { toast } from "bulma-toast";

export default {
  name: "AddMember",
  data() {
    return {
      username: "",
      password1: "",
      password2: "",
      errors: [],
    };
  },
  methods: {
    async submitForm() {
      this.errors = [];

      if (this.username === "") {
        this.errors.push("Имя пользователя отсутствует");
      }

      if (this.password1 === "") {
        this.errors.push("Пароль слишком короткий");
      }

      if (this.password1 !== this.password2) {
        this.errors.push("Пароль не подходит");
      }

      if (!this.errors.length) {
        this.$store.commit("setIsLoading", true);

        const formData = {
          username: this.username,
          password: this.password1,
        };

        await axios
          .post("/api/v1/users/", formData)
          .then((response) => {
            toast({
              message: "Участник был добавлен",
              type: "is-success",
              dismissible: true,
              pauseOnHover: true,
              duration: 2000,
              position: "bottom-right",
            });

            const emailData = { email: this.username };

            axios
              .post("/api/v1/teams/add_member/", emailData)
              .then((response) => {
                this.$router.push({ name: "Team" });
              })
              .catch((error) => {
                if (error.response) {
                  for (const property in error.response.data) {
                    this.errors.push(
                      `${property}: ${error.response.data[property]}`
                    );
                  }
                } else if (error.message) {
                  this.errors.push(
                    "Что-то пошло не так. Пожалуйста, попробуйте еще раз!"
                  );
                }
              });
          })
          .catch((error) => {
            if (error.response) {
              for (const property in error.response.data) {
                this.errors.push(
                  `${property}: ${error.response.data[property]}`
                );
              }
            } else if (error.message) {
              this.errors.push(
                "Что-то пошло не так. Пожалуйста, попробуйте еще раз!"
              );
            }
          });

        this.$store.commit("setIsLoading", false);
      }
    },
  },
};
</script>
