<template>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Мой аккаунт</h1>
      </div>

      <div class="column is-12">
        <div class="buttons">
          <router-link
            :to="{ name: 'EditMember', params: { id: $store.state.user.id } }"
            class="button is-light"
            >Изменить</router-link
          >

          <button @click="logout()" class="button is-danger">Выйти</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MyAccount",
  methods: {
    async logout() {
      await axios
        .post("/api/v1/token/logout/")
        .then((response) => {
          console.log("Вышли из");
        })
        .catch((error) => {
          console.log(JSON.stringify(error));
        });

      axios.defaults.headers.common["Authorization"] = "";
      localStorage.removeItem("token");
      localStorage.removeItem("username");
      localStorage.removeItem("userid");
      localStorage.removeItem("team_name");
      localStorage.removeItem("team_id");
      this.$store.commit("removeToken");

      this.$router.push("/");
    },
  },
};
</script>
